
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Users can create their own user document, and update their last login time.
    // They can only read their own document.
    match /users/{userId} {
      allow read, update: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }

    // Users can create, read, and update sightings that belong to them.
    match /users/{userId}/sightings/{sightingId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // The bird list is public and read-only for all users.
    match /birds/{birdId} {
        allow read: if true;
    }
  }
}
